/* DataTable */
.stdtable .center {
	text-align: center;
}

.stdtable .falta_sincronizar {
	border: 1px solid #e18b7c !important;
	background: #fad5cf;
	text-align: center;
	font-weight: bold;
}

.stdtable .sincronizado {
	border: 1px solid #5DCF6B !important;
	background: #BBFEB9;
	text-align: center;
	font-weight: bold;
}

.stdtable .sincronizar {
	text-align: center;
}

.stdtable .sincronizar a {
	font-weight: bold;
	color: #039;
}

#table_inscritos_filtro .overviewhead {
	border-bottom: 0px;
}

.stdtable tbody a {
  color: #039;
}

/* LoadPage */
#loadPage {
	background: rgba(75, 75, 75, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}

#loadPage span {
	background: url(../images/loaders/loader11.gif);
	margin-left: -64px;
	margin-top: -12px;
	position: fixed;
	height: 15px;
	width: 128px;
	left: 50%;
	top: 50%;
}

/* Form de retirada de Kit */
#retirada {
	display: none;
}

.form_retirada table input {
	display: none;
}

.form_retirada.nao_comprador table input {
	display: block;
}
.form_retirada.nao_comprador table span {
	display: none;
}


.form_retirada table input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100% !important;
}

.form_retirada table textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100px;
	width: 100%;
}

#event_old {
	display: none;
}

#inputs_hidden {
	display: none;
}

#loading_painel {
	background: url(../images/loaders/loader3.gif) center no-repeat rgba(16, 9, 9, 0.1);
	text-align: center;
	height: 100%;
	width: 100%;
}

#loading_painel h1 {
	position: absolute;
	margin-top: -40px;
	font-size: 20px;
	height: auto;
	top: 50%;
}